<!DOCTYPE html>
<html ng-app="brainuke">
<head>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mdevcss.css">
</head>

<body ng-controller="BrainukeController as mainCtrl">
	<!--Home page-->
	<div id="homePage" ng-show="isSetPage(1)">

		<div class="col-md-5">
			<div><p id="title">Brainuke<span></span></p>
				 <p id="subtitle">Enjoy your Ukulele!</p>
			</div>
			<div id="getStart">
				<form name="formName" class="navbar-form navbar-left" role="search" ng-submit="formName.$valid && addPlayer(player); setPage(2)" novalidate>
					<div class="form-group">
						<input ng-model="inputName" type="text" class="form-control" placeholder="Enter your name" required>
					</div>
					<button type="submit" class="btn btn-warning">Get Started!</button>
				</form>
			</div>
		</div>
	</div>

	<!--mainCtrl page-->
	<div class="row" id="mainPage" ng-show="isSetPage(2)">
		<div class="col-md-2" id="left">
			<div>
				<button type="button" class="btn btn-primary" id="randomBtn1" ng-click="randomize()">
					<span><span class="glyphicon glyphicon-random"></span>&nbsp&nbspRandom</span>
				</button>
			</div>
			<br />
			<div id="randomBtn1">
           		<input ng-model="main.timeCount" id="secondEnter" type="number" class="form-control" placeholder="Seconds" 
           		min="0"/>
       		</div>
		</div>

		<div class="col-md-8" id="center">
			<svg class="true-center" width="600" height="600" xmlns="http://www.w3.org/2000/svg">
				
				<!-- Background ring (inline style to be moves to CSS) -->
				<circle class="ringCircle" ng-attr-cx="{{model.ringCenterX}}" ng-attr-cy="{{model.ringCenterY}}" ng-attr-r="{{model.ringRadius}}" fill="none" stroke-width="2" stroke="rgba(0,0,0,0.5)"/>
				
				<!--Drawing the notes shapes on the screen, first it draws the shape, after insert the text over it-->
				<g  class="noteCircle" ng-repeat="note in model.notes track by $index" ng-dblclick="removeNote($index)">
					<circle ng-class="{'notVerified':!note.verified,'isRight':note.isRight && note.verified,'isWrong': !note.isRight && note.verified}" ng-attr-id="{{idPrefix + ($index + 1)}}" ng-attr-cx="{{note.x}}" ng-attr-cy="{{note.y}}" ng-attr-r="{{note.r}}"/>
					<text ng-attr-x="{{note.x-10}}" ng-attr-y="{{note.y+10}}">{{note.name}}</text>
				</g>

				<!--Inserting the the text of the current note being tested-->
				<text class="currentNote" x="270" y="320" ng-if="gameOn">{{currentNote}}</text>
				
				<!-- Anyone wanna do the style for this one? -->
				<!--<text class="heardNote" x="?" y="?" ng-if="gameOn">{{audiuke.noteString}}</text>-->
				
				<!--Inserting the the text of the points on the game-->
				<text class="scoreText" ng-attr-x="{{230}}" ng-attr-y="{{400}}" ng-show="gameOn">Score: {{model.score}}</text>

				<!--Button responsible for initiating the game-->
				<g class="startGameButton" ng-if="model.notes.length!=0 && !gameOn" ng-click="startGame()" >
					<rect x="175" y="250" rx="20" ry="20" width="250" height="100"/>
					<text x="240" y="315">start</text>
				</g>

			</svg>

		</div>
		<div class="col-md-2" id="right">

			<button type="button" class="btn btn-default noteBtn" aria-label="Left Align" ng-click="addNote('C')">C
			</button>

			<button type="button" class="btn btn-default noteBtn "aria-label="Left Align" ng-click="addNote('C#')"> C#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('D')"> D
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('D#')"> D#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('E')"> E
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('F')"> F
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('F#')"> F#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('G')"> G
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('G#')"> G#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('A')"> A
			</button>
			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('A#')"> A#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="addNote('B')"> B
			</button>

		</div>
	</div>

	<!--Score page-->
	<div id="bgScore" ng-show="isSetPage(3)" >
		<div class="col-md-2" ></div>	

		<div class="col-md-8">

			<div id="header">
				Game Score
			</div>

			<div class="container" id="scoreTable">    
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Username</th>
							<th>Points</th>
							<th>No.</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in model.rankedPlayers track by $index">
							<td>{{player.name}}</td>
							<td>{{player.score}}</td>
							<td>{{player.rank}}</td>
						</tr>
					</tbody>
				</table>
		

			<div>
				<button type="button" class="btn btn-warning" id="gameBtn" ng-click="setPage(2)" > New Game 
				</button>
			
				<button type="button" class="btn btn-success" id="userBtn" ng-click="setPage(1)"> New User 
				</button>
			</div>
		</div>
		</div>
	</div>
	<div class="col-md-2" ></div>	
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/model.js"></script>
<script src="js/audiuke.js"></script>
<script src="js/hand.minified-1.3.8.js"></script>
<script src="js/draguke.js"></script>
<script src="js/brainukeController.js"></script>

</body>