<!DOCTYPE html>
<html ng-app="brainuke">
<head>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body ng-controller="BrainukeController as mainCtrl">
	<!--Home page-->
	<div id="homePage" ng-show="mainCtrl.isSetPage(1)">

		<div class="col-md-5" id="left-home">
			<div><p id="title">Brainuke<span></span></p>
				<p id="subtitle">Enjoy your Ukulele!</p>
			</div>

			<div id="getStart">
				<form name="formName" class="navbar-form navbar-left" role="search" novalidate>
					<div class="form-group">
						<input ng-model="mainCtrl.currentPlayer" type="text" class="form-control" placeholder="Enter your name" required>
					</div>
					<button type="submit" class="btn btn-default" ng-click="formName.$valid && mainCtrl.setPage(2)">Get Start!</button>
				</form>
			</div>
		</div>

	</div>

	<!--mainCtrl page-->
	<div class="row" id="mainPage" ng-show="mainCtrl.isSetPage(2)">
		<div class="col-md-2" id="left">

			<div id="randomBtn">
				<button type="button" class="btn btn-default" aria-label="Left Align" id="randomBtn1" ng-click="mainCtrl.randomize()">
					<span class="glyphicon glyphicon-random" aria-hidden="true"></span>  Random
				</button>
			</div>

			<div id="inputBtn">
				<span class="glyphicon glyphicon-time" aria-hidden="true" id="timeIcon"></span>
				<input ng-model="mainCtrl.timeCount" type="number" class="form-control" id="secondEnter" placeholder="seconds">
			</div>

		</div>
		<div class="col-md-8" id="center">

			<svg width="600" height="600">

				<!--Drawing the notes shapes on the screen, first it draws the shape, after insert the text over it-->
				<g ng-repeat="note in mainCtrl.notes">
					<circle ng-class="{'notVerified':!note.verified,'isRight':note.isRight && note.verified,'isWrong': !note.isRight && note.verified}" ng-attr-id="{{$index}}" ng-attr-cx="{{note.x}}" ng-attr-cy="{{note.y}}" ng-attr-r="{{60}}"/>
					<text ng-attr-x="{{note.x-10}}" ng-attr-y="{{note.y+10}}" ng-attr-font-family="{{'Verdana'}}" ng-attr-font-size="{{'30'}}" ng-attr-fill="{{'blue'}}" > {{note.name}} </text>
				</g>

				<!--Inserting the the text of the current note being tested-->
				<text ng-attr-x="{{270}}" ng-attr-y="{{320}}" ng-attr-font-family="{{'Verdana'}}" ng-attr-font-size="{{'100'}}" ng-attr-fill="{{'blue'}}" ng-show="mainCtrl.gameOn"> {{mainCtrl.currentNote.name}} </text>

				<!--Inserting the the text of the points on the game-->
				<text ng-attr-x="{{230}}" ng-attr-y="{{400}}" ng-attr-font-family="{{'Verdana'}}" ng-attr-font-size="{{'25'}}" ng-attr-fill="{{'blue'}}" ng-show="mainCtrl.gameOn">score: {{mainCtrl.score}} </text>

				<!--Button responsible for initiating the game-->
				<g ng-click="mainCtrl.startGame()" ng-show="!mainCtrl.gameOn">
					<rect x="175" y="250" rx="20" ry="20" width="250" height="100"
					style="fill:red;stroke:black;stroke-width:5;opacity:0.5"/>
					<text x="240" y="315" font-family="Verdana" font-size="50" fill="blue">start</text>
				</g>

			</svg>

		</div>
		<div class="col-md-2" id="right">

			<button type="button" class=" btn btn-default noteBtn" aria-label="Left Align" ng-click="mainCtrl.addNote('C')">C
			</button>

			<button type="button" class="btn btn-default noteBtn "aria-label="Left Align" ng-click="mainCtrl.addNote('C#')"> C#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('D')"> D
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('D#')"> D#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('E')"> E
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('F')"> F
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('F#')"> F#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('G')"> G
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('G#')"> G#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('A')"> A
			</button>
			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('A#')"> A#
			</button>

			<button type="button" class="btn btn-default noteBtn"aria-label="Left Align" ng-click="mainCtrl.addNote('B')"> B
			</button>


		</div>
	</div>


	<!--Score page-->
	<div id="bgScore" ng-show="mainCtrl.isSetPage(3)">
		<div class="col-md-2" ></div>	

		<div class="col-md-8">

			<div id="header">
				Game Score
			</div>

			<div class="container" id="scoreTable">    
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Username</th>
							<th>Points</th>
							<th>No.</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in mainCtrl.players">
							<td>{{player.name}}</td>
							<td>{{player.score}}</td>
							<td>{{player.rank}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-md-6">
				<button type="button" class="btn btn-warning gameBtn" ng-click="mainCtrl.setPage(2)" > New Game 
				</button>
			</div>

			<div class="col-md-6">
				<button type="button" class="btn btn-success userBtn" ng-click="mainCtrl.setPage(1)"> New User 
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-2" ></div>	
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/model.js"></script>
<script src="js/brainukeController.js"></script>

</body>