
/* home page */
#homePage{
	background-size: 100%;
	background-image: url("images/bgHome.jpg");
	background-repeat: no-repeat;
	height: 700px;
	/*z-index: -1;*/
}

#title{
	font-size: 66px;
	margin: auto;
    color: #ffffff;
	font-weight: bold;
	padding-top: 250px;
	padding-left: 160px;
	font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 0px 2px 3px #F3F781;
    letter-spacing:0.05em;
    position:relative;
}



#getStart{
	width:30px;
	display: inline;
	/*background-image: url("images/start.png");
	background-repeat: no-repeat;
	height:100%;
    margin-left: 300px;
    display:block;
*/
}
.navbar-left{	margin-left: 150px;
}

/*main page*/

#left-home{

	height:800px;


}
#subtitle{
	font-size: 30px;
	display: block;	
	padding-left: 170px;
    font: Tahoma, Helvetica, Arial, Sans-Serif;
    color: #fff;
    }


#left{

	padding-top: 50px;
}
#randomBtn1{
display:block;
margin: auto;
padding-top: 10px;
}

#inputBtn{
padding:15px;
padding-left: 35px;
}

#secondEnter{
width:65%;
display: inline;

}

.glyphicon-time {
    font-size: 18px;
    margin-top: 7px;
}
#right{
	padding-top: 50px;
	display: block;
}
.noteBtn{
	display: inline-block;
	width:50px;
	height: 50px;
	margin-right: 15px;
	margin-bottom: 20px;
}
svg{
	border:3px solid black;
	display: block;
	margin:auto;
	margin:50px;
   
}

.isRight{
	fill:green;
}

.isWrong{
	fill:#FF0000;
}

.notVerified{
	fill:gray;
}

/* score page */

#bgScore{

	background-image:url("images/bgScore.jpg");
	height:700px;
	background-size: 150%;
	background-position: -200px -257px;


}
#header{

	text-align: center;
	margin-top: 50px;
	font-size: 36px;
	color: #F7F8E0;
	font-weight: bold;
	font-family: 'Helvetica Neue', sans-serif;
	text-shadow: 0px 2px 3px #F3F781;

	letter-spacing:0.05em;
	position:relative;
}

#scoreTable{
	margin-top: 50px;
	margin-bottom:30px;
	width: 600px;
	height: 300px;
	background-color: rgba(255,255,255,0.8);
	font-size: 18px;
}


.gameBtn{
	display: block; margin-left: auto;

	margin-right: 20px;
	width:120px;

}

.userBtn{
	display: block; margin-left: 20px;

	margin-right: auto;
	width:120px;
}

.table-hover{
	table-hover: black;
}
